/* Titles */
h1, h2, h3, h4, h5, h6, li {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

.title{
  padding-bottom: 20px;
  padding-top: 25px;
  padding-left: 30px;
  margin-top: 0;
}

#main-h1-title{
  font-family: "Raleway";
  font-weight: 300;
  color: #a7dce5;
}

.Title-Div {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#app-desc{
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Raleway";
}

#list-group-headings{
  padding-left: 30px;
}

.list-group{
  padding-bottom: -10px;
  cursor: pointer;
  cursor: hand;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.list-group li:hover{
  background-color: #a7dce5;
}

.list-group-disabled{
    pointer-events:none;
    /*opacity:0.6;  */  
    color: gray;
}

.subsection{
  background: #2c3e50;
  padding-bottom: 2%;
  color: white;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 95%;
  margin: 0 auto;
  margin-top: -20px;
  min-height: 90%;
}

.subection-header{
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;

  font-family: "Raleway";
  font-weight: 300;
}

.container{
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.container-c1, .container-c2, .container-c3 {
  display: table-cell;
  background-color: #7f9093;
  width: 33%;
}

.container-c1{
  border-color: white;
  border-right: solid;
  border-top-width: 50px;


  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.container-c2{
  border-color: white;
  border-right: solid;
}

.container-c3{
  padding-bottom: 20px;
  border-top-right-radius: 4px;
}

.container-c3 code{
  width: 95%;
  padding: 9px;
  margin-left: 3px;
}

#container-c1-header{
  padding-bottom: 6px;
}

#container-c2-header{
  padding-bottom: 25px;
}

#container-c3-header{
  padding-bottom: 32px;
}

.container-headers{
  padding-left: 15px;
}

.li-div-items{
  padding-left: 17px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5px;
  font-family: "Raleway";
}

.li-hover{
  border-radius: 4px;
  background-color: #2c3e50;
  margin-bottom: 5px;
  opacity: 0.9;
}

.li-div-items:hover{
  border-radius: 4px;
  background-color: #a7dce5;
  cursor: pointer;
  cursor: hand;
}


.Copy-To-Clipboard{
  float: right;
  margin-right: 1.7%;
  border-bottom-left-radius: 7px;
  background-color: #abb8c5;
  cursor: pointer;
  font-family: "Raleway";
  padding: 5px;
}
.Copy-To-Clipboard:hover{
  background-color: #a7dce5;
}
.Copy-To-Clipboard-Click{
  background-color: #a7dce5;
  opacity: 0.8;
  pointer-events: none;
}

input[type=text] {
  width: 95%;
  margin-bottom: 21px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  color: black;
  margin-top: 5%;
  font-family: "Raleway";
  position: relative;
  display: block;
  margin : 0 auto;
}

#alert-info-id{
  width: 99%;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #8295a3;
  color: #31708f;
  padding-left: 20px;
}

.glyphicon-info-sign{
  font-size: 20px;
}

#Info-Text-Area{
  display: inline-block;
  font-family: "Raleway";
}

#modify-back-button{
  float: right;
  margin-right: 10px;
  padding-bottom: 10px;
}
#modify-back-button:hover{
  color: #a7dce5;
  cursor: pointer;
  cursor: hand;
}

#table-id{
  background-color: #a7dce5;
  opacity: 0.8;
  text-align: center;
  max-width: 26%;
}
/*#table-id tbody tr{
  width: 10px;
}
#table-id tbody th{
  width: 10px;
}
#table-id tbody tr td {
  width: 10px;
}
#table-id thead tr th {
  color: red;
}*/

.table-head-header{
  width: 20%;
  text-align: center;
}
.table-body-header{
  width: 10px;
  text-align: center;
}

.data-div ul{
  list-style: circle;
}
.data-div ul li{
  margin-left: -12px;
}
.data-div ul li:hover{
/*  opacity: 0.1;*/
  background-color: #8295a3;
  cursor: pointer;
}

#data-div-h5{
  font-family: "Raleway";
  font-weight: 300;
  color: white;
}
#data-div-h4{
  float: left;
  padding-right: 6px;
}

.alert-link:hover{
  color: #a7dce5;
  cursor: pointer;
  cursor: hand;
}

.data-note-div{
  margin-left: 14px;
  margin-top: 15px;
}
.data-note-div ul{
  list-style: none;
  padding-left: 25px;
  margin-left: 45px;
  border-left: solid;
}
.data-note-div h5{
  float: left;
  padding-top: 2px;
}


/* SECTION 3 CSS */
#Code-Container-Div{
    margin: auto;
}

.outer-container{

}

.searchTag{
  float: left;
  padding: 5px;
  background-color: #a7dce5;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#Search-Result-Div, #Search-Input-Div{
  margin-left: 10px;
  border-radius: 2px;
  float: left;
}
#searchResult, #searchInput{
  font-family: Monaco;
  margin-left: 17px;
  padding: 5px;
  background-color: #f9f2f4;
  color: #c7264f;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#Search-Result-Div:hover .searchTag{
  background-color: #2c3e50;
}
#Search-Result-Div:hover #searchResult {
  opacity: 0.8;
}
.searchResultSelected{
  opacity: 0.8;
}
.searchTagSelected{
  background-color: #2c3e50;
}


form#subsection-form{
  padding-top: 4px;
}

@media screen and (max-width: 1398px) { 
/*  #searchInput{   
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }  */
}



