/* Titles */
h1, h2, h3, h4, h5, h6, li {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

.title{
  padding-bottom: 25px;
}

#app-desc{
  padding-bottom: 30px;
}

.list-group{
  padding-bottom: -10px;
  cursor: pointer;
  cursor: hand;
}

.list-group li:hover{
  background-color: #a7dce5;
}

.subsection {
  background: #2c3e50;
  padding-bottom: 60px;
  color: white;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  width: 95%;
  margin: 0 auto;
  margin-top: -20px;
  min-height: 90%;
}

.container{
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.container-c1, .container-c2, .container-c3 {
  display: table-cell;
  background-color: #7f9093;
  width: 33%;
/*  float: left;*/
  border: solid;
  border-color: white;
}

.container-c3{
  padding-bottom: 30px;
}

.container-c3 code{
  width: 95%;
  padding: 10px;
  margin-left: 12px;
}

.container-c3 h5{
  margin-bottom: 40px;
}

.container-c1, .container-c2, .container-c3 h5 {
  padding-left: 15px;
}

.subsection h4 {
  color: white;
  padding: 20px;
}

.li-div-items{
  margin-right: 35px;
  padding-left: 10px;
  margin-top: 5px;
}

.li-hover{
  border-radius: 10px;
  background-color: #2c3e50;
  cursor: pointer;
  cursor: hand;
}

.li-div-items:hover{
  border-radius: 10px;
  background-color: #2c3e50;
  cursor: pointer;
  cursor: hand;
}

#searchResult{
  margin-left: 25px;
  margin-top: 5%;
}
#searchInput{
  margin-top: 5%;
}

input[type=text] {
    width: 95%;
    margin-bottom: 21px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
    color: black;
    margin-top: 5%;
}


