/* Titles */
h1, h2, h3, h4, h5, h6, li {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

.codeFormatLi span{
  font-family: Monaco;
}
.commandFormatLi span{
  font-weight: bold;
/*  font-style: italic;*/
}

.title{
  padding-bottom: 40px;
  padding-top: 25px;
  padding-left: 30px;
  margin-top: 0;
}

#main-h1-title{
  font-family: "Raleway";
  font-weight: 300;
  color: #a7dce5;
}

.Title-Div {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#app-desc{
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Raleway";
}

#list-group-headings{
  padding-left: 30px;
}

.list-group{
  padding-bottom: -10px;
  cursor: pointer;
  cursor: hand;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.list-group li:hover{
  background-color: #a7dce5;
}

.list-group-disabled{
    pointer-events:none;
    /*opacity:0.6;  */  
    color: gray;
}

.subsection{
  background: #2c3e50;
  padding-bottom: 2%;
  color: white;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 95%;
  margin: 0 auto;
  margin-top: -20px;
  min-height: 90%;
}

.subection-header{
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;

  font-family: "Raleway";
  font-weight: 300;
}

.subsection-text-entry{
  opacity: 0.7;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
#subsection-container{
  width: 99%;
}

.container-c1, .container-c2, .container-c3 {
  display: table-cell;
  background-color: #7f9093;
  width: 33.3%;
  padding-bottom: 1%;
}

.container-c1{
  border-color: white;
  border-right: solid;
  border-top-width: 50px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  position: relative;
  padding-bottom: 2.5%;
}
.container-c2{
  border-color: white;
  border-right: solid;
}

.container-c3{
  border-top-right-radius: 4px;
  position: relative;
}

.container-c3 code{
  width: 95%;
  padding: 9px;
  margin-left: 3px;
}

#container-c1-header{
  padding-bottom: 6px;
}

#container-c2-header{
  padding-bottom: 25px;
}

#container-c3-header{
  padding-bottom: 32px;
}

.container-headers{
  padding-left: 15px;
  font-size: 1.05em;
}

.li-div-items{
  padding-left: 17px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5px;
  font-family: "Raleway";
  opacity: 0.9;
}

.li-hover{
  border-radius: 4px;
  background-color: #2c3e50;
  margin-bottom: 5px;
  opacity: 0.9;
}

.li-div-items:hover{
  border-radius: 4px;
  background-color: #a7dce5;
  cursor: pointer;
  cursor: hand;
}

.Copy-To-Clipboard{
  border-top-left-radius: 7px;
  background-color: #abb8c5;
  font-family: "Raleway";
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}
.Copy-To-Clipboard:hover{
  background-color: #a7dce5;
}
.Copy-To-Clipboard-Click{
  background-color: #a7dce5;
  opacity: 0.8;
  pointer-events: none;
}

input[type=text] {
  width: 95%;
  margin-bottom: 21px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  color: black;
  font-family: "Raleway";
  position: relative;
  display: block;
  margin : 0 auto;
  margin-bottom: 10%;
  margin-top: 2px;
}

#alert-info-id{
  width: 99%;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #8295a3;
  color: #31708f;
  padding-left: 20px;
}

.glyphicon-info-sign{
  font-size: 20px;
}

#Info-Text-Area{
  display: inline-block;
  font-family: "Raleway";
}

#modify-back-button{
  margin: 10px;
  font-family: "Raleway";
  position: absolute;
  bottom: 0;
  right: 0;
}
#modify-back-button:hover{
  color: #a7dce5;
  cursor: pointer;
  cursor: hand;
}
#modify-back-button-glyph{
  margin-left: 1px;
}

#chmod-table{
  background-color: #a7dce5;
  opacity: 0.8;
  text-align: center;
  font-family: "Raleway";
}
#chmod-table thead{
  background-color: #2c3e50;
  opacity: 0.8;
}
#chmod-table tbody tr th{
  background-color: #2c3e50;
  opacity: 0.8;
}

.table-head-header{
  width: 20%;
  text-align: center;
}
.table-body-header{
  width: 10px;
  text-align: center;
}

.data-div ul{
  list-style: circle;
}
.data-div ul li{
  margin-left: -12px;
}
.data-div ul li:hover{
/*  opacity: 0.1;*/
  background-color: #8295a3;
  cursor: pointer;
}

#data-div-h5{
  font-family: "Raleway";
  font-weight: 300;
  color: white;
}
#data-div-h4{
  float: left;
  padding-right: 6px;
}

.alert-link:hover{
  color: #abb8c5;
  cursor: hand;
  transition: all 0.3s ease;
}

.data-note-div{
  margin-left: 14px;
  margin-top: 15px;
}
.data-note-div ul{
  list-style: none;
  padding-left: 25px;
  margin-left: 45px;
  border-left: solid;
}
.data-note-div h5{
  float: left;
  padding-top: 2px;
}


/* SECTION 3 CSS */
#Code-Container-Div{
    margin: auto;
}

.outer-container{
}

.searchTag{
  float: left;
  padding: 6px;
  background-color: #a7dce5;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease;
}

#Search-Result-Div, #Search-CHMOD-Div, #Search-Option-Div, #Search-Input-Div, #Search-Grep-Div{
  margin-left: 10px;
  border-radius: 2px;
  float: left;
}
#searchResult, #searchChmodOption, #searchOption, #searchInput, #searchGrep{
  font-family: Monaco;
  margin-left: 19px;
  padding: 6px;
  background-color: #f9f2f4;
  color: #c7264f;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 13%;
}

#Search-Result-Div:hover .searchTag{
  background-color: #2c3e50;
  opacity: 0.6;
}
#Search-Result-Div:hover #searchResult{
  opacity: 0.8;
}

#Search-CHMOD-Div:hover .searchTag{
  background-color: #2c3e50;
  opacity: 0.6;
}
#Search-CHMOD-Div:hover #searchChmodOption{
  opacity: 0.8;
}

#Search-Option-Div:hover .searchTag{
  background-color: #2c3e50;
  opacity: 0.6;
}
#Search-Option-Div:hover #searchOption{
  opacity: 0.8;
}

#Search-Grep-Div:hover .searchTag{
  background-color: #2c3e50;
  opacity: 0.6;
}
#Search-Grep-Div:hover #searchGrep{
  opacity: 0.8;
}

.searchResultSelected, .searchOptionSelected{
  opacity: 0.8;
}
.searchTagSelected{
  background-color: #2c3e50;
}

form#subsection-form{
  padding-top: 4px;
}

@media screen and (max-width: 1398px) { 
/*  #searchInput{   
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }  */
}

#chmod-modal-container-div{
  display: inline-block;
}
#chmod-modal-left-div{
  float: left;
  padding: 5px;
  margin-right: -5%;
}
#chmod-modal-right-div{
  float: right;
  padding-left: 35px;
}

#Visualise, #Command{
  padding-left: 10px;
}

select { font-size:13px; }

.option-builder-code{
  font-family: Monaco;
  margin-left: 19px;
  padding: 6px;
  background-color: #f9f2f4;
  color: #c7264f;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 13%;
}

#option-modal-container-div{
  display: inline-block;
  width: 100%;
}
#option-builder-search-result{
  float: left;
  padding: 5px;
  margin-right: -5%;
}
#option-builder-drop-down{
  height: 30px;
  padding-left: 35px;
}

#option-modal-container-div-left{
  float: left;
  margin-right: 12%;
}
#option-modal-container-div-right{
  float: left;
  color: black;
}
.option-modal-container-div-right-title{
  font-family: "Raleway";
  text-decoration: underline;
  font-weight: 200;
}

#Modal-Add-Button{
  border-radius: 4px;
  border: solid;
  background-color: #f9f2f4;
  border-color: #a6a6a6;
  border-width: 1px;
  color: #c7264f;
}


