<div class="Title-Div">
	<h1 id="main-h1-title" class="title">{{ mainHeading }}</h1>
</div>
<p id="app-desc">The developer of this web application has attempted to provide a comprehensive linux command builder. The aim of this service is to help new and exisitng linux users with any misunderstandings they may be having. Currently there is no other service like this and with your help we can make this better and better, please leave a comment.</p>

<h3 id="list-group-headings">What do you want to do?</h3>

<list 
[linuxCategories]="linuxCategories" 
(listItemOutput)="onBulletSelect($event)"> {{listItemData}} 
</list>

<subsection 
[showSubsection]="showSubsection" 
[linuxCategories]="linuxCategories" 
[subSections]="subSections" 
(subCategoryItemOutput)="onSubCategorySelect($event)"> {{subCategoryItemData}}
[searchResult]="searchResult" 
</subsection>

<br>
<br>



				<table class="table table-bordered table-inverse" id="table-id">
				  <thead>
				    <tr>
				      <th class="table-body-header"></th>
				      <th class="table-head-header">Read</th>
				      <th class="table-head-header">Write</th>
				      <th class="table-head-header">Execute</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row" class="table-body-header">User</th>
				      <td>
				      	<input [(ngModel)]="model1" (ngModelChange)="inputChanged($event)" id="checkbox-0.0" type="checkbox" checked>
				      </td>
				      <td>
				      	<input [(ngModel)]="model2" (ngModelChange)="inputChanged($event)" id="checkbox-0.1" type="checkbox" checked>
				      </td>
				      <td>
				      	<input [(ngModel)]="model3" (ngModelChange)="inputChanged($event)" id="checkbox-0.2" type="checkbox" checked>
				      </td>
				    </tr>
				    <tr>
				      <th scope="row" class="table-body-header">Group</th>
				      <td>				      	
				      	<input [(ngModel)]="model4" (ngModelChange)="inputChanged($event)" id="checkbox-1.0" type="checkbox" checked>
				      </td>
				      <td>				      	
				      	<input [(ngModel)]="model5" (ngModelChange)="inputChanged($event)" id="checkbox-1.1" type="checkbox" checked>
				      </td>
				      <td>				      	
				      	<input [(ngModel)]="model6" (ngModelChange)="inputChanged($event)" id="checkbox-1.2" type="checkbox" checked>
				      </td>
				    </tr>
				    <tr>
				      <th scope="row" class="table-body-header">Other</th>
				      <td>				      	
				      	<input [(ngModel)]="model7" (ngModelChange)="inputChanged($event)" id="checkbox-2.0" type="checkbox" checked>
				      	</td>
				      <td>				      	
				      	<input [(ngModel)]="model8" (ngModelChange)="inputChanged($event)" id="checkbox-2.1" type="checkbox" checked>
				      </td>
				      <td>				      	
				      	<input [(ngModel)]="model9" (ngModelChange)="inputChanged($event)" id="checkbox-2.2" type="checkbox" checked>
				      </td>
				    </tr>
				  </tbody>
				</table>



