<!-- ADD SUBSECTION DATA-->

	<!-- Create file -->
	<div class="data-div" id="touch-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>touch</span> command is commonly used to create new empty files.</li>
			<li>It can also be used to update a files last modification or accessed date, please see:</li>
			<ul>
				<li>Modify > File > Modified/Accessed.</li></ul>
				<li>The nano command can also be used to create new files e.g.</li>
			<ul>
			<li class="codeFormatLi"><span>nano newFile.txt</span></li>
			<li>Then enter the desired text and save. (Hint, Ctrl+x)</li></ul>
		</ul>
	</div>

	<!-- Make Directory -->
	<div class="data-div" id="mkdir-data" style="display:none">
		<ul class="data-ul">
			<li class="commandFormatLi">The <span>mkdir</span> command is used to create new directories.</li>
			<li>A directory, referred to as a folder in some operating systems.</li>
			<li>It appears to the user as a container for other directories and files.</li>
		</ul>
	</div>

	<!-- Add user -->
	<div class="data-div" id="useradd-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>useradd</span> command is a low-level utility.</li>
			<li>It is used for creating user accounts in Linux.</li>
			<li>The <i>adduser</i> command can also be used, it is a symbolic link to useradd.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li class="codeFormatLi"><span>useradd -d home/directory username</span> &nbsp;&nbsp;&nbsp; will create a user with a home/directory.</li>
				<li class="codeFormatLi"><span>useradd -g groupname username</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; will create a new user and assign them a group.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Add group -->
	<div class="data-div" id="groupadd-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>groupadd</span> command is used to add user groups to a linux system.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>groupadd exits with the following value</i></li>
				<li>&nbsp;</li>
				<li>0 &nbsp;&nbsp;&nbsp; - &nbsp; Success</li>
				<li>2 &nbsp;&nbsp;&nbsp; - &nbsp; Invalid command syntax</li>
				<li>3 &nbsp;&nbsp;&nbsp; - &nbsp; Invalid argument to option</li>
				<li>4 &nbsp;&nbsp;&nbsp; - &nbsp; GID not unique</li>
				<li>9 &nbsp;&nbsp;&nbsp; - &nbsp; Group name not unique</li>
				<li>10 &nbsp;&nbsp;- &nbsp; Can't update group file</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Create link -->
	<div class="data-div" id="ln-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>ln</span> utility is used to create a new directory entry/linked file.</li>
			<li>This is useful for maintaining multiple copies of a file in many places at once without using up storage.</li>
			<li>There are two types of links known as <b>HARD</b> link and <b>SYMBOLIC</b> link.</li>
			<li>By default, the ln command creates a hard link, you will need to apply the option -s to create a symbolic link.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>Hard link vs symbolic link</i></li>
				<li>&nbsp;</li>
				<li>An inode is a data structure in a linux file system which describes a filesystem object such as a file or directory.</li>
				<li>A file will hold a link an inode.</li>
				<li>A hard link will hold a link to the same inode as the file.</li>
				<li>A symbolic link will hold a link to the file that holds a link to the inode.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

<!-- END ADD SUBSECTION DATA-->

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- DELETE SUBSECTION DATA-->

	<!-- Remove -->
	<div class="data-div" id="rm-data" style="display:none">
		<ul class="data-ul">
			<li class="commandFormatLi">The <span>rm</span> command is commonly used to delete files.</li>
			<li>It can also be used for a variety of other deletion needs, such as links see below.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>USE WITH CAUTION</i></li>
				<li>&nbsp;</li>
				<li class="codeFormatLi"><span>rm -f filename/linkname</span> &nbsp;&nbsp;&nbsp; will forcefully remove the file/link.</li>
				<li class="codeFormatLi"><span>rm -r directoryName</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; will recursively remove files in the working directory.</li>
				<li class="codeFormatLi"><span>rm -rf directoryName</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; will remove the specified directory and all files and subdirectories from within.</li>
				<li class="codeFormatLi"><span>rm -i filename</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; will request confirmation prior to deletion.</li>
				<li>&nbsp;</li>	
			</ul>
		</div>
	</div>

	<!-- Remove directory -->
	<div class="data-div" id="rmdir-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>rmdir</span> command is used to delete empty directories.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li class="codeFormatLi">Please use the <span>rm -rf directoryName</span> command to delete non-empty directories.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Delete user -->
	<div class="data-div" id="userdel-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>userdel</span> command is used to delete user accounts from linux systems.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li class="codeFormatLi">The addition of the option <span>-r</span> on <span>userdel</span> will cause all files in the user's home directory will be removed along with home directory itself and the user's mail spool.<p>Files located in other file systems will have to be searched for and deleted manually.</p></li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Delete group -->
	<div class="data-div" id="groupdel-data" style="display:none">
		<ul>
			<li class="commandFormatLi">The <span>groupdel</span> command is used to delete groups from linux systems.</li>
			<li>Used by root to remove a group.</li>
			<li>You may not remove the primary group of any existing user, you must remove the user before you remove that user's primary group.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>groupdel exits with the following value</i></li>
				<li>&nbsp;</li>
				<li>0 &nbsp;&nbsp;&nbsp; - &nbsp; Success</li>
				<li>3 &nbsp;&nbsp;&nbsp; - &nbsp; Invalid command syntax</li>
				<li>6 &nbsp;&nbsp;&nbsp; - &nbsp; Specified group doesn't exist</li>
				<li>8 &nbsp;&nbsp;&nbsp; - &nbsp; Can't remove user's primary group</li>
				<li>10 &nbsp;&nbsp;- &nbsp; Can't update group file</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

<!-- END DELETE SUBSECTION DATA-->

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- MODIFY > FILE SUBSECTION DATA-->
	<!-- Modify directory/file location/name data -->
	<div class="data-div" id="mv-data" style="display:none">
		<ul>
			<li>The <b><i>mv</i></b> command is used to move or rename files.</li>
		</ul>
		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li><i>mv &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; old-filename/source &nbsp; new-filename/dest</i>
				&nbsp;&nbsp;&nbsp;&nbsp;[Standard file rename]</li>
				<li><i>mv -v &nbsp; old-filename/source &nbsp; new-filename/dest</i>
				&nbsp;&nbsp;&nbsp;&nbsp;[Verbose output]</li>
				<li><i>mv -i &nbsp;&nbsp; old-filename/source &nbsp; new-filename/dest</i>
				&nbsp;&nbsp;&nbsp;&nbsp;[Interactive pass, user prompt]</li>
				<li><i>mv -f &nbsp; old-filename/source &nbsp; new-filename/dest</i>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Force]</li>
			</ul>
		</div>
	</div>

	<!-- Modify file data -->
	<div class="data-div" id="vi-data" style="display:none">
		<ul>
			<li>The <b><i>vi</i></b> command is used to edit the contents of files.</li>
			<li>It is short for "vi"sual editor.</li>
			<li>It has two modes COMMAND and INSERT mode:</li>
			<ul>
				<li>Command mode: letters you type perform functions.</li>
				<li>Insert mode: letters you type form words and sentences.</li>
			</ul>
			<li>A more feature rich version of vi is vim, it stands for vi improved.</li>
			<li>An easier alternative to vi or vim is nano, man nano.</li>
			<br>
			<li>vi will start in command mode, to enter insert mode type 'i'.</li>
			<li>To quit insert mode type Ctrl+c or press the Esc key.</li>	
			<li>To undo any changes enter command mode and type 'u', to undo all changes type 'U'.</li>	
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><b><u>Exit</u></b></li>
				<li> <b>:x</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exits vi, saving changes.</li>
				<li> <b>:q</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quits vi as long as no changes have been made, add ! to override.</li>
				<li> <b>:q!</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quits vi and ignores any changes.</li>
				<li> <b>:wq</b> &nbsp;&nbsp;&nbsp; Writes changes and quits vi.</li>
				<li> <b>ZZ</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exits vi, saving changes.</li>
				<li>&nbsp;</li>
				<li><b><u>Navigation</u></b></li>
				<li> <b> Arrow key </b> or <b> h </b> &nbsp;&nbsp;&nbsp; Navigate left.</li>
				<li> <b> Arrow key </b> or <b> l </b> &nbsp;&nbsp;&nbsp;&nbsp; Navigate right.</li>
				<li> <b> Arrow key </b> or <b> k </b> &nbsp;&nbsp;&nbsp; Navigate up.</li>
				<li> <b> Arrow key </b> or <b> j </b> &nbsp;&nbsp;&nbsp;&nbsp; Navigate down.</li>
				<li> <b> H </b> &nbsp;&nbsp;&nbsp; Jump to top.</li>
				<li> <b> L </b> &nbsp;&nbsp;&nbsp; Jump to bottom.</li>
				<li> <b> / </b> &nbsp;&nbsp;&nbsp; Starts search, provide keyword. Use n to navigate through matches.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Modify directory/file accessed data -->
	<div class="data-div" id="touch -a-data" style="display:none">
		<ul>
			<li>We changed the accessed time of a file using the <b><i>touch</i></b> command paired with the option -a.</li>
			<li>By default this will take the current system time and update the accessed time field.</li>
		</ul>
		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>You can explicitly specify the time using -t and -d options</i>i</li>
				<li>&nbsp;</li>
				<li>The format for specifying -t is [[CC]YY]MMDDhhmm[.SS]</li>
				<li>The format for specifying -d is "2017-01-14 12:12:12.000000000 _0530"</li>
				<li>&nbsp;</li>
				<li>CC &nbsp; - &nbsp; Specifies the first two digits of the year.</li>
				<li>YY &nbsp; - &nbsp; Specifies the last two digits of the year.</li>
				<li>MM &nbsp; - &nbsp; Specifies the month.</li>
				<li>DD &nbsp; - &nbsp; Specifies the day.</li>
				<li>hh &nbsp; - &nbsp; Specifies the hour.</li>
				<li>mm &nbsp; - &nbsp; Specifies the minute.</li>
				<li>SS &nbsp; - &nbsp; Specifies the seconds.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

	<!-- Modify directory/file modified data -->
	<div class="data-div" id="touch -m-data" style="display:none">
		<ul>
			<li>We changed the modification time of a file using the <b><i>touch</i></b> command paired with the option -m.</li>
			<li>By default this will take the current system time and update the modified time field.</li>
		</ul>
		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>&nbsp;</li>
				<li><i>You can explicitly specify the time using -t and -d options</i>i</li>
				<li>&nbsp;</li>
				<li>The format for specifying -t is [[CC]YY]MMDDhhmm[.SS]</li>
				<li>The format for specifying -d is "2017-01-14 12:12:12.000000000 +0530"</li>
				<li>&nbsp;</li>
				<li>CC &nbsp; - &nbsp; Specifies the first two digits of the year.</li>
				<li>YY &nbsp; - &nbsp; Specifies the last two digits of the year.</li>
				<li>MM &nbsp; - &nbsp; Specifies the month.</li>
				<li>DD &nbsp; - &nbsp; Specifies the day.</li>
				<li>hh &nbsp; - &nbsp; Specifies the hour.</li>
				<li>mm &nbsp; - &nbsp; Specifies the minute.</li>
				<li>SS &nbsp; - &nbsp; Specifies the seconds.</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>
<!-- END MODIFY > FILE SUBSECTION DATA-->

<!-- MODIFY > USER SUBSECTION DATA-->

	<!-- Modify username data -->
	<div class="data-div" id="usermod -l-data" style="display:none">
		<ul>
			<li>The <b><i>usermod -l</i></b> command is used to rename a user's name in linux.</li>
			<li>To verify rename is successful: <b>id newUsername</b></li>
		</ul>
	</div>

	<!-- Modify password data -->
	<div class="data-div" id="passwd-data" style="display:none">
		<ul>
			<li>The <b><i>passwd</i></b> command is used to reset the password of a users account in linux.</li>
		</ul>

		<div class="data-note-div">
			<h5><b>Note</b></h5>
			<ul>
				<li>The following commands will change the way the passwd command operates.</li>
				<li>&nbsp;</li>
				<li> <b>-d username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deletes a users password, this is a quick way to disable logins for an account (without disabling the account itself).</li>
				<li> <b>-e username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Immediately expire an accounts password, this forces a user to change their password the next time they login.</li>
				<li> <b>-h</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Display information about how to use the passwd command.</li>
				<li> <b>-i x username</b> &nbsp;&nbsp;&nbsp;&nbsp; This option is used to disable an account after the password has been expired for (x) number of days.</li>
				<li> <b>-l username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lock the password of the named account, meaning they are not allowed to change their password.</li>

				<li> <b>-n x username</b>  &nbsp;&nbsp;&nbsp; Set the minimum number of days (x) between password changes, 0 means the user may change their password at any time.</li>
				<li> <b>-q username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quiet mode, will operate without displaying any output.</li>
				<li> <b>-S username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Displays account status information, specifying -a in addition to -S will display password status for all users.</li>
				<li> <b>-u username</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unlock the password of the named account.</li>
				<li> <b>-w x username</b>  &nbsp;&nbsp;&nbsp; Set the number of days (x) of warning before a password change is required.</li>
				<li> <b>-x x username</b>  &nbsp;&nbsp;&nbsp;&nbsp; Set the maximum number of days (x) a password remains valid</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>

<!-- END MODIFY > END USER SUBSECTION DATA-->


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- MODIFY SUBSECTION DATA-->

<!-- END MODIFY SUBSECTION DATA-->




<!-- chmod data-->	
<div class="data-div" id="chmod-data" style="display:none">
	<table class="table table-bordered table-inverse" id="table-id">
		<thead>
			<tr>
				<th class="table-body-header"></th>
				<th class="table-head-header">Read</th>
				<th class="table-head-header">Write</th>
				<th class="table-head-header">Execute</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<th scope="row" class="table-body-header">User</th>
				<td>
					<input [(ngModel)]="model1" (ngModelChange)="inputChanged($event)" id="checkbox-0.0" type="checkbox" checked>
				</td>
				<td>
					<input [(ngModel)]="model2" (ngModelChange)="inputChanged($event)" id="checkbox-0.1" type="checkbox" checked>
				</td>
				<td>
					<input [(ngModel)]="model3" (ngModelChange)="inputChanged($event)" id="checkbox-0.2" type="checkbox" checked>
				</td>
			</tr>
			<tr>
				<th scope="row" class="table-body-header">Group</th>
				<td>				      	
					<input [(ngModel)]="model4" (ngModelChange)="inputChanged($event)" id="checkbox-1.0" type="checkbox" checked>
				</td>
				<td>				      	
					<input [(ngModel)]="model5" (ngModelChange)="inputChanged($event)" id="checkbox-1.1" type="checkbox" checked>
				</td>
				<td>				      	
					<input [(ngModel)]="model6" (ngModelChange)="inputChanged($event)" id="checkbox-1.2" type="checkbox" checked>
				</td>
			</tr>
			<tr>
				<th scope="row" class="table-body-header">Other</th>
				<td>				      	
					<input [(ngModel)]="model7" (ngModelChange)="inputChanged($event)" id="checkbox-2.0" type="checkbox" checked>
				</td>
				<td>				      	
					<input [(ngModel)]="model8" (ngModelChange)="inputChanged($event)" id="checkbox-2.1" type="checkbox" checked>
				</td>
				<td>				      	
					<input [(ngModel)]="model9" (ngModelChange)="inputChanged($event)" id="checkbox-2.2" type="checkbox" checked>
				</td>
			</tr>
		</tbody>
	</table>
</div>

