<!-- OPTION BUILDER PS DATA-->
	<div id="ps-option-data" style="display:none">
		<ul>
			<li class="codeFormatLi"><span>e</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Select all processes, identical to -A</li>
			<li class="codeFormatLi"><span>a</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Select all processes except session leaders</li>
			<li class="codeFormatLi"><span>f</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Does full-format listing</li>
		</ul>
	</div>


	<!-- OPTION BUILDER LSOF DATA-->
	<div id="lsof-option-data" style="display:none">
		<ul>
			<li class="codeFormatLi"><span>i</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; All</li>
			<li class="codeFormatLi"><span>g</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Group</li>
			<li class="codeFormatLi"><span>p</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Process</li>
			<li class="codeFormatLi"><span>u</span>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; User</li>
		</ul>
	</div>