<div *ngFor="#category of linuxCategories">
	
	<div class="{{category}}" id="subsection-{{category}}-Data">

		<div class="subsection" *ngIf="showSubsection == category">
			
			<h4 class="subection-header">What do you want to {{category}}?</h4>
			
			<div class="container" id="subsection-container">	

				<div class="container-c1">
					<h5 class="container-headers" id="container-c1-header">Step 1 - Select option</h5>
					<div class="ul-div-list" *ngFor="#subSection of subSections; #i = index;">
					
						<!-- IF Modify then display another subsection, this will lengthen the search-->
		  				<div class="li-div-items" id="subsection-{{category}}-{{subSection}}-Data" (click)="onSubCategorySelect(subSection, category)"> {{subSection}}
						</div>

					</div>
					
					<div id="modify-back-button" style="visibility:hidden" (click)="onBackButtonSelect()">
						Step 1
						<span id="modify-back-button-glyph" class="glyphicon glyphicon-circle-arrow-left"></span>
					</div>
				</div>

				<div class="container-c2">
					<h5 class="container-headers" id="container-c2-header">Step 2 - Enter name</h5>
						
						<form id="subsection-form">
							<div class="tags-input">
								<input [(ngModel)]="model" (ngModelChange)="reSearch($event)" id="subsection-{{category}}-text-entry" class="subsection-text-entry" type="text" name="enterName" placeholder="Select option..." maxlength="45" disabled>

								<!-- Add tags here -->
								<span class="tag" id="grep-tag" style="display:none">| grep<span class="close" (click)="onDeleteTagSelect('grep-tag')"></span></span>

							</div>
						</form>
					
				</div>
 
				<div class="container-c3" id="Search-Container">
					
					<h5 class="container-headers" id="container-c3-header">Step 3 - Output</h5>

					<div id="Code-Container-Div">

						<!-- Search Result Div used to display the result of the selected options -->
						<div id="Search-Result-Div" style="visibility:hidden">
							<div id= "Search-Result-Div-searchTag" class="searchTag">1</div>
							<div id="searchResult" title="Click for more info" (click)="onSearchResultClick()"></div>
						</div>

						
						<!-- Search Option Div used to display the option for a user to select -->
						<div id="Search-CHMOD-Div" data-toggle="modal" data-target="#modal-1" style="display:none">
							<div id= "Search-CHMOD-Div-searchTag" class="searchTag"></div>
							<div id="searchChmodOption">777</div>
						</div>

						<div class="modal" id="modal-1" >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
<!-- 										<button type="button" class="close" data-dismiss="modal">&times;</button>
 -->										<h3 class="modal-title">CHMOD Calculator</h3>
									</div>

									<div class="modal-body" id="chmod-modal-container-div">

										<div id="chmod-modal-left-div">
											<table class="table table-bordered table-inverse" id="chmod-table">
												<thead>
													<tr>
														<th class="table-body-header"></th>
														<th class="table-head-header">Read</th>
														<th class="table-head-header">Write</th>
														<th class="table-head-header">Execute</th>
													</tr>
												</thead>

												<tbody>
													<tr>
														<th scope="row" class="table-body-header">User</th>
														<td>
															<input [(ngModel)]="model1" (ngModelChange)="inputChanged($event)" id="checkbox-0.0" type="checkbox" checked>
														</td>
														<td>
															<input [(ngModel)]="model2" (ngModelChange)="inputChanged($event)" id="checkbox-0.1" type="checkbox" checked>
														</td>
														<td>
															<input [(ngModel)]="model3" (ngModelChange)="inputChanged($event)" id="checkbox-0.2" type="checkbox" checked>
														</td>
													</tr>
													<tr>
														<th scope="row" class="table-body-header">Group</th>
														<td>				      	
															<input [(ngModel)]="model4" (ngModelChange)="inputChanged($event)" id="checkbox-1.0" type="checkbox" checked>
														</td>
														<td>				      	
															<input [(ngModel)]="model5" (ngModelChange)="inputChanged($event)" id="checkbox-1.1" type="checkbox" checked>
														</td>
														<td>				      	
															<input [(ngModel)]="model6" (ngModelChange)="inputChanged($event)" id="checkbox-1.2" type="checkbox" checked>
														</td>
													</tr>
													<tr>
														<th scope="row" class="table-body-header">Other</th>
														<td>				      	
															<input [(ngModel)]="model7" (ngModelChange)="inputChanged($event)" id="checkbox-2.0" type="checkbox" checked>
														</td>
														<td>				      	
															<input [(ngModel)]="model8" (ngModelChange)="inputChanged($event)" id="checkbox-2.1" type="checkbox" checked>
														</td>
														<td>				      	
															<input [(ngModel)]="model9" (ngModelChange)="inputChanged($event)" id="checkbox-2.2" type="checkbox" checked>
														</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div id="chmod-modal-right-div">
											<h5><b>Visualise:</b></h5> 	<h4 id="Visualise">----------</h4>
											<h5><b>Command:</b></h5> 	<h4 id="Command">000</h4>
										</div>		

									</div>	


									<div class="modal-footer">
										<button id="Modal-Close-Button" type="button" data-dismiss="modal">Close</button>
									</div>

								</div>
							</div>
						</div>


						<div id="Search-Option-Div" data-toggle="modal" data-target="#modal-2" (click)="loadOptionBuilder()" style="display:none">
							<div id= "Search-Option-Div-searchTag" class="searchTag"></div>
							<div id="searchOption"><i>option</i></div>
						</div>

						<div class="modal" id="modal-2">
							<div class="modal-dialog">
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h3 class="modal-title">Option builder</h3>
									</div>

									<div class="modal-body" id="option-modal-container-div">

										<div id="option-modal-container-div-left">
											<div class="option-builder-code" id="option-builder-search-result">ps</div>

											<select class="option-builder-code" id="option-builder-drop-down" title="Click for more info">
											</select>

										</div>

										<div id="option-modal-container-div-right">
											<div class="option-modal-container-div-right-title">Options for ps</div>
											<i>The minus (-) on a command infers the use of an option.</i>
											<options id="option-data-section"></options>
										</div>
	
									</div>

									<div class="modal-footer">
										<button id="Modal-Add-Button" type="button" (click)="onOptionSelection()" data-dismiss="modal">Add</button>
									</div>

								</div>
							</div>
						</div>

						<div id="Search-Grep-Div" (click)="loadGrep()" style="display:none">
							<div id= "Search-Grep-Div-searchTag" class="searchTag">+</div>
							<div id="searchGrep"><i>grep</i></div>
						</div>

						<div id="Search-Input-Div" style="visibility:hidden">
							<div id= "Search-Input-Div-searchTag" class="searchTag">2</div>
							<div id="searchInput"></div>
						</div>

					</div>

					<div class="Copy-To-Clipboard" (click)="copyToClipboard()">Copy Command</div>
					
				</div>
			</div><!--/.container -->


			<div class="container">
				<div class="alert" id="alert-info-id" role="alert" hidden>
					<!-- Insert in here data div based on command -->
					<h4 id="data-div-h4"></h4>
					<h4 id="data-div-h4-href" class="alert-link" (click)="onHrefClick()"></h4>	
					<data id="data-section"></data>	
				</div>
			</div>

		</div>

	</div>

</div>

