<div *ngFor="#category of linuxCategories">
	
	<div class="{{category}}" id="subsection-{{category}}-Data">

		<div class="subsection" *ngIf="showSubsection == category">
			
			<h4>What do you want to {{category}}?</h4>
			
			<div class="container">	
				<div class="container-c1">
				<h5>Step 1 - Select option</h5>
					<div class="ul-div-list" *ngFor="#subSection of subSections; #i = index;">
					<!-- id="subsection-{{category}}-{{subSection}}-Data" -->
		  				<div class="li-div-items" id="subsection-{{category}}-{{subSection}}-Data" (click)="onSubCategorySelect(subSection)"> {{subSection}}
						</div>
					</div>
					<br>
				</div>

				<div class="container-c2">
					<h5>Step 2 - Enter name</h5>
					<input [(ngModel)]="model" (ngModelChange)="reSearch($event)" id="textEntry" type="text" name="enterName" placeholder="Enter text..." disabled>
					<br>
				</div>

				<div class="container-c3">
					<h5>Step 3 - Output</h5>
					<div>
						<code id="searchResult" placeholder="text">Step 1...</code>
						<code id="searchInput" placeholder="text">Step 2...</code>
					</div>
					<br>
				</div>
			</div><!--/.container -->

		</div>

	</div>

</div>

