<div *ngFor="#b of bullets">
	
	<div id="subsection-{{b.name}}-Data">

		<div class="subsection" *ngIf="showSubsection == b.name">
			
			<h4>What do you want to {{b.name}}?</h4>
			
			<div class="container">	
				<div class="container-c1">
					<h5>Step 1</h5>
					<ul>
		  				<li>List item 1</li>
		  				<li>List item 2</li>
		  				<li>List item 3</li>
					</ul>
				</div>

				<div class="container-c2">
					<h5>Step 2</h5>
					<ul>
		  				<li>List item 1</li>
		  				<li>List item 2</li>
		  				<li>List item 3</li>
					</ul>
				</div>

				<div class="container-c3">
					<h5>Step 3</h5>
					<ul>
		  				<li>List item 1</li>
		  				<li>List item 2</li>
		  				<li>List item 3</li>
					</ul>
				</div>
			</div><!--/.container -->

		</div>

	</div>

</div>

