<div class="Title-Div">
	<h1 id="main-h1-title" class="title">{{ mainHeading }}</h1>
	<img src="../assets/LinuxPenguin1.svg" style="max-width: 84px;float: right;margin-top: -112px;margin-right: 17px;">    
</div> 
<p id="app-desc">
Welcome to the Linux Command Builder, this service attempts to provide the ability to build up simple linux commands in layman's terms. This site will hopefully aid in the progression of your linux skillz and help you become class. Currently there is no other service like this and with your help we can make this better and better, so have a browse and if you feel like it you can <a data-toggle="modal" href="#emailModal">leave us a comment.</a></p>

<h3 id="list-group-headings">What do you want to do?</h3>

<list 
[linuxCategories]="linuxCategories" 
(listItemOutput)="onBulletSelect($event)"> {{listItemData}} 
</list>

<subsection 
[showSubsection]="showSubsection" 
[linuxCategories]="linuxCategories" 
[subSections]="subSections" 
(subCategoryItemOutput)="onSubCategorySelect($event)"> {{subCategoryItemData}}
[searchResult]="searchResult" 
</subsection>

<br>
<br>
<br>
<br>

<div class="modal" id="emailModal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Please leave a comment.</h3>
			</div>

			<div class="modal-body">
				<textarea id="comment-text-area" type="text" value="NaNn" rows="4" placeholder="Comment here..." 
				[(ngModel)]="commentModal" (ngModelChange)="updateCommentTextArea()"></textarea>
			</div>	

			<div class="modal-footer">
				<button id="Modal-Send-Button" style="display: none;" type="button" data-dismiss="modal" (click)="sendComment()">Send</button>
				<button id="Modal-Close-Button" type="button" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>

